<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.den.we.mapper.UserMapper">


    <select id="retrieveUser" resultType="com.den.we.Vo.UserInfoVo">
        select id userId, mobile_phone mobilePhone, user_name userName, picture headUrl,country country, city city,nick_name nickName
          from  user
        where (mobile_phone = #{retrieveInfo} or user_name=#{retrieveInfo})
    </select>

    <select id="findByNameOrPhone" resultType="com.den.we.entity.User" parameterType="java.lang.String">
        SELECT *
            from user
             where (mobile_phone = #{phoneOrName} or user_name=#{phoneOrName});
    </select>
</mapper>
